<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key><string>Clipframes</string>
  <key>CFBundleDisplayName</key><string>Clipframes</string>
  <key>CFBundleIdentifier</key><string>com.emil.clipframes</string>
  <key>CFBundleExecutable</key><string>Clipframes</string>
  <key>CFBundleIconFile</key><string>AppIcon</string>
  <key>CFBundlePackageType</key><string>APPL</string>
  <key>CFBundleShortVersionString</key><string>0.2</string>
  <key>CFBundleVersion</key><string>2</string>
  <key>LSMinimumSystemVersion</key><string>15.0</string>
  <key>LSApplicationCategoryType</key><string>public.app-category.developer-tools</string>
  <key>NSHighResolutionCapable</key><true/>
  <key>NSHumanReadableCopyright</key><string>© 2026 Emil Wagman</string>
  <key>SUFeedURL</key><string>https://raw.githubusercontent.com/emilwagman/clipframes/main/appcast.xml</string>
  <key>SUPublicEDKey</key><string>XpnfG14i1e7Dpmp3h8bXP8V73J8eHEGKPHcGUUaR7LY=</string>
</dict>
</plist>
